body {
  font: 20px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

li {
  margin-bottom: 10px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
  font-size: 30px;
  color: #D94400;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 40px;
  font-weight: bold;
  line-height: 100px;
  height: 100px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 100px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}

.move-btn {
  font-size: 20px;
  background-color: #EDC3CB;
  color: white;
  padding: 5px;
  border: none;
  border-radius: 3px;
}

.reset-btn {
  font-size: 20px;
  background-color: #FFCF8D;
  color: white;
  padding: 5px;
  border: none;
  border-radius: 3px;
}

.red {
  color: red;
}

.blue {
  color: blue;
}